<!doctype html>
<html>
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="advanceSearchController.js"></script>
 	</head>

	<body ng-app="myadvanceSearchApp">
		
		<div ng-controller="advanceSearchCntrl">
			<ul>
				<li ng-repeat="person in persons | filter : globalSearch">
					{{ person.Name + " : " + person.Age + " : " + person.Fav_color}}
				</li>
			</ul>
		</div>
		<div id="searchBoxes">
			Global:<input type="text" ng-model="globalSearch.$"><br>
			Name:<input type="text" ng-model="globalSearch.Name"><br>
			Age:<input type="text" ng-model="globalSearch.Age"><br>
			Fav Color:<input type="text" ng-model="globalSearch.Fav_color"><br>
		</div>

	</body>
</html>